/*BODY*/
body{
	padding: 0;
	margin: 0 auto;
	overflow-x: hidden;
	background-image: url(../img/header-bg.jpg);
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-position-y:-137px;

}

/*NAVBAR - MENU */
.navbar-brand {
    font-family: 'Kaushan Script', cursive;
    color:#fec503;
    font-size: 27px;
    padding: 25px;
}

.nav{
	font-size: 16px;
    padding: 8px;
    background-color: none;
}

.nav a{
	color: #ffffff;
}

.nav a:hover{
	color:#fec503;
	background-color: hidden;
}
/*PREGUNTAR A ALE*/
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: none;
}

.nav .amarillo{
	color:#fec503;
}

.menu-mobile{
	background-color:#fec503;
	color:#ffffff;
	padding: 10px;
	border-radius: 10px;
}
.menu-mobile .fa{
	border-radius: 10px;
}
/*BIENVENIDA*/

.first-section h1 {
    color: #FFF;
    font-weight: 900;
    font-size: 70px;
}

.first-section h2 {
    padding-top: 5em;
    color: #FFF;
    font-size: 44px;
}
.font-welcome{
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 25px;
}

.tellmemore {
    color: #ffffff;
    background-color: #fed136;
    padding: 21px;
    padding-left: 38px;
    padding-right: 38px;
    /* border: 10px; */
    border-radius: 17px;
    font-size: 22px;
    font-weight: 900;
}
.first-section .tell a{
	text-decoration: none;
}
.first-section .tell a:hover{
	color: black;
}
.tell{
	padding-top: 50px;
}


